

/****  Navbar Start  ****/

.navbar-light .navbar-brand {
    font-size: 35px;
    font-weight: bold;
    color: #7D2A80;
    font-family: 'Lobster', cursive;
}
.navbar-light .navbar-brand:hover {
    color: #7D2A80;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: #af75ea;
}
.navbar-light .navbar-nav .nav-link {
    color: black;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #af75ea;
}
.navbar .nav-link{
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 5px 16px !important;
}
.dropdown-item:focus, .dropdown-item:hover {
    color: #af75ea;
}
.dropdown-item.active, .dropdown-item:active {
    background-color: #F8F9FA;
}
.dropdown-item{
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}
.navbar-toggler{
    outline: none !important;
}

/****  Navbar End  ****/



/*======Service Section=====*/
  .service-icon{
      display: inline-block;
      font-size: 32px;
      margin-bottom: 16px;
      color: #af75ea;
      padding: 8px 16px;
  }
  .section-header{
    color: #fff;
    background-color: black;
    font-weight: 700;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 20px;
  }
/*======End of Service Section====*/



/*new arrival start*/

.collection span {
    color: #8e44ad;
    font-size: 19px;
    font-weight: 700;
    padding-left: 5px;
}
.single-card {
    margin-bottom: 10px;
}
.card {
    border: none;
}
.collection input {
    position: absolute;
    top: 40%;
    left: 30%;
    opacity: 0;
    height: 45px;
    width: 110px;
    background-color: #af75ea;
    color: #fff;
    border-radius: 5px;
    outline: none;
    border: none;
    text-align: center; 
    cursor: pointer;
}
.collection .card:hover input {
    opacity: 1;
    transition: 0.5s;
}
.collection input:hover {
    background-color: #8e44ad;
    transition: 0.5s;
}




/*new arrival end*/



.about-sec{
    margin-top: 25px;
}
.text-color{
    color: #000;
}
.about-img{
    margin-top: 200px;
    margin-bottom: 130px;
}


/*footer start*/

footer {
    height: 70px;
    background-color: #af75ea;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
}
footer a {
    text-decoration: none !important;
    color: #fff;
}


/*footer end*/