{% load static %}


<!-- footer start -->
 <div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<div class="social_section">
					<a href="" class="">
						<i class="fa fa-facebook" aria-hidden="true"></i>
						<span>facebook</span>
					</a>
					<a href="" class="tn">
						<i class="fa fa-twitter" aria-hidden="true"></i>
						<span>twitter</span>
					</a>
					<a href="" class="">
						<i class="fa fa-instagram" aria-hidden="true"></i>
						<span>instagram</span>
					</a>
					<a href="" class="">
						<i class="fa fa-whatsapp" aria-hidden="true"></i>
						<span>whatsapp</span>
					</a>
				</div>
			</div>
		</div>
	</div>
	<footer class="d-flex align-items-center">

		<div class="container d-flex justify-content-between">
			<span>Copyright 2021 © Muslims Apparel</span>
			<span>Developed By: <a href="#">Team Ahoban</a></span>
		</div>
	</footer>


	<!-- footer end -->

