{% load static %}


<!-- footer start -->
<footer class="d-flex align-items-center">

    <div class="container d-flex py-3 justify-content-around">
			<span>
                <h6>Copyright 2021 © Muslims Apparel</h6>
            </span>
        <span>
            <h6>Developed By:
                <a target="_blank" href="https://www.facebook.com/atiq.ea">Atiq</a> &
                <a target="_blank" href="https://www.facebook.com/shuvro.baset.7/">Shuvro</a>
            </h6>
        </span>
    </div>

</footer>


<!-- footer end -->

