{% extends 'main.html' %}

{% load static %}

{% block content %}




    <div class="container-fluid">
        <div class="row banner-div">

        </div>
    </div>


    <!--Service Section==========-->
    <div class="container">
        <div class="row my-5">
            <!--Single Service-->
            <div class="mx-auto col-md-6 col-lg-3 my-3 text-center service-div">
            <span class="service-icon ">
              <i class="fas fa-ambulance fa-2x pt-4"></i>
            </span>
                <h5 class="font-weight-bold mt-3 text-uppercase">CASH ON DELIVERY</h5>
                <p class="text-capitalize">CASH ON DELIVERY INSIDE DHAKA CITY CORPORATION</p>
            </div>
            <div class="mx-auto col-md-6 col-lg-3 my-3 text-center service-div">
            <span class="service-icon ">
              <i class="fas fa-headset fa-2x pt-4"></i>
            </span>
                <h5 class="font-weight-bold mt-3 text-uppercase">CUSTOMER SERVICE</h5>
                <p class="text-capitalize">24/7 DEDICATED CUSTOMER SERVICE AGENT</p>
            </div>
            <div class="mx-auto col-md-6 col-lg-3 my-3 text-center service-div">
            <span class="service-icon ">
              <i class="fas fa-shield-alt fa-2x pt-4"></i>
            </span>
                <h5 class="font-weight-bold mt-3 text-uppercase">SECURE PAYMENT</h5>
                <p class="text-capitalize">100% SECURE PAYMENT PROCESS & NO HIDDEN CHARGE</p>
            </div>

        </div>
    </div>
    <!---End of Service Section --->

    <!-- UPCOMING PRODUCTS start -->
    <div class="container">
        <div class="row my-5">
            <div class="text-center">
                <span class="product-title">Upcoming Products</span>
            </div>
        </div>

        <div class="custom-row mb-5">
            {% for product in upcoming_prdct_ins %}
                <div class="my-3 text-center">
                    <div class="product-div">
                        <div>
                            <img style="width: 600; height: 600" src="{{ product.pro_img.url }} class=" img-fluid"
                            alt="">
                        </div>
                        <div class="my-3">
                            <h6 class="title2">{{ product.name }}</h6>
                            {% if product.updated_price %}
                                <p><small>
                                    <del>৳ {{ product.price }}</del>
                                    <span>৳ {{ product.updated_price }}</span>
                                </small></p>
                            {% else %}
                                <p><small>
                                    <span>৳ {{ product.price }}</span>
                                </small></p>
                            {% endif %}
                            <button class="btn btn-dark"><a style="text-decoration: none; color: #F8F9FA"
                                                            href="{% url 'product' %}?category=UPCOMING PRODUCTS">See
                                More</a>
                            </button>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="row my-5">
            <div class="text-center">
                <span class="product-title">Most Demandable Products</span>
            </div>
        </div>

        <div class="custom-row mb-5">
            {% for product in most_demandable_prdct_ins %}
                <div class="my-3 text-center">
                    <div class="product-div">
                        <div>
                            <img style="width: 600; height: 600" src="{{ product.pro_img.url }} class=" img-fluid"
                            alt="">
                        </div>
                        <div class="my-3">
                            <h6 class="title2">{{ product.name }}</h6>
                            {% if product.updated_price %}
                                <p><small>
                                    <del>৳ {{ product.price }}</del>
                                    <span>৳ {{ product.updated_price }}</span>
                                </small></p>
                            {% else %}
                                <p><small>
                                    <span>৳ {{ product.price }}</span>
                                </small></p>
                            {% endif %}
                            <button class="btn btn-primary single-card-hover-btn-1">
                                <a style="text-decoration: none; color: #F8F9FA"
                                   href="{% url 'product' %}?category=MOST DEMANDABLE PRODUCTS">See More</a>
                            </button>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="row my-5">
            <div class="text-center">
                <span class="product-title"> AVAILABLE NIQAB</span>
            </div>
        </div>

        <div class="custom-row mb-5">
            {% for product in niqab_item_ins %}
                <div class="my-3 text-center">
                    <div class="product-div">
                        <div>
                            <img style="width: 600; height: 600" src="{{ product.pro_img.url }} class=" img-fluid"
                            alt="">
                        </div>
                        <div class="my-3">
                            <h6 class="title2">{{ product.name }}</h6>
                            {% if product.updated_price %}
                                <p><small>
                                    <del>৳ {{ product.price }}</del>
                                    <span>৳ {{ product.updated_price }}</span>
                                </small></p>
                            {% else %}
                                <p><small>
                                    <span>৳ {{ product.price }}</span>
                                </small></p>
                            {% endif %}
                            <button class="btn btn-primary single-card-hover-btn-1">
                                <a style="text-decoration: none; color: #F8F9FA"
                                   href="{% url 'product' %}?category=NIQAB">See More</a>
                            </button>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="row my-5">
            <div class="text-center">
                <span class="product-title"> SUNNAH ITEM</span>
            </div>
        </div>

        <div class="custom-row mb-5">
            {% for product in sunnar_item_ins %}
                <div class="my-3 text-center">
                    <div class="product-div">
                        <div>
                            <img style="width: 600; height: 600" src="{{ product.pro_img.url }} class=" img-fluid"
                            alt="">
                        </div>
                        <div class="my-3">
                            <h6 class="title2">{{ product.name }}</h6>
                            {% if product.updated_price %}
                                <p><small>
                                    <del>৳ {{ product.price }}</del>
                                    <span>৳ {{ product.updated_price }}</span>
                                </small></p>
                            {% else %}
                                <p><small>
                                    <span>৳ {{ product.price }}</span>
                                </small></p>
                            {% endif %}
                            <button class="btn btn-primary single-card-hover-btn-1">
                                <a style="text-decoration: none; color: #F8F9FA"
                                   href="{% url 'product' %}?category=SUNNAH ITEM">See More</a>
                            </button>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="row my-5">
            <div class="text-center">
                <span class="product-title"> ORGANIC FOOD</span>
            </div>
        </div>

        <div class="custom-row mb-5">
            {% for product in organic_food_ins %}
                <div class="my-3 text-center">
                    <div class="product-div">
                        <div>
                            <img style="width: 600; height: 600" src="{{ product.pro_img.url }} class=" img-fluid"
                            alt="">
                        </div>
                        <div class="my-3">
                            <h6 class="title2">{{ product.name }}</h6>
                            {% if product.updated_price %}
                                <p><small>
                                    <del>৳ {{ product.price }}</del>
                                    <span>৳ {{ product.updated_price }}</span>
                                </small></p>
                            {% else %}
                                <p><small>
                                    <span>৳ {{ product.price }}</span>
                                </small></p>
                            {% endif %}
                            <button class="btn btn-primary single-card-hover-btn-1">
                                <a style="text-decoration: none; color: #F8F9FA"
                                   href="{% url 'product' %}?category=ORGANIC FOOD">See More</a>
                            </button>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>


    <div class="container">
        <div class="row">
            <div class="text-center">
                <span class="about-head">About Us</span>
            </div>
        </div>
        <div class="row my-5">
            <div class="col-lg-6">
                <img style="height: 350px; width: 90%" class="img-fluid" src="{{ about_ins.abt_img.url }}" alt="">
            </div>
            <div class="col-lg-6">
                <p>{{ about_ins.text }}</p>
                <p>Jajakumullahu khairan <br>
                    Aysha Binte Mojibur <br>
                    Owner & Designer at Muslims Apparel</p>
            </div>
        </div>
    </div>


{% endblock %}