{% extends 'main.html' %}

{% load static %}

{% block content %}

    <!-- Slider Start -->

    <section>
        <div class="container">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">

                <ol class="carousel-indicators">
                    {% for slider in sliders %}
                        {% if forloop.first %}

                            <li data-target="#carouselExampleIndicators" data-slide-to="{{ forloop.counter0 }}"
                                class="active"></li>
                        {% else %}
                            <li data-target="#carouselExampleIndicators" data-slide-to="{{ forloop.counter0 }}"></li>
                        {% endif %}
                    {% endfor %}
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    {% for slider in sliders %}
                        {% if forloop.first %}
                            <div class="carousel-item active">
                        {% else %}
                            <div class="carousel-item">
                        {% endif %}
                    <img style="height: 540px; width: 942px" class="d-block w-100" src="{{ slider.img.url }}"
                         alt="First slide">
                    </div>
                    {% endfor %}
                    </div>

                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </section>

    <!-- Slider End -->


    <!--Service Section==========-->
    <section class="services py-5 text-center" id="service-section">
        <div class="container">
            <h4 class="section-header">OUR SERVICES</h4>
            <div class="row wow slideInLeft" data-wow-duration="4s">
                <!--Single Service-->
                <div class="col-10 mx-auto col-md-6 col-lg-3 my-3">
					<span class="service-icon ">
						<i class="fas fa-ambulance fa-2x"></i>
					</span>
                    <h5 class="font-weight-bold text-uppercase">CASH ON DELIVERY</h5>
                    <p class="text-capitalize">CASH ON DELIVERY INSIDE DHAKA CITY CORPORATION</p>
                </div>
                <!--end of Service=-->
                <!--Single Service-->
                <div class="col-10 mx-auto col-md-6 col-lg-3 my-3">
					<span class="service-icon">
						<i class="fas fa-headset fa-2x"></i>
					</span>
                    <h5 class="font-weight-bold text-uppercase">CUSTOMER SERVICE</h5>
                    <p class="text-capitalize">24/7 DEDICATED CUSTOMER SERVICE AGENT</p>
                </div>
                <!--end of Service=-->
                <!--Single Service-->
                <div class="col-10 mx-auto col-md-6 col-lg-3 my-3">
					<span class="service-icon">
						<i class="fas fa-shield-alt fa-2x"></i>
					</span>
                    <h5 class="font-weight-bold text-uppercase">SECURE PAYMENT</h5>
                    <p class="text-capitalize">100% SECURE PAYMENT PROCESS & NO HIDDEN CHARGE</p>
                </div>
                <!--end of Service=-->
                <!--Single Service-->
                <div class="col-10 mx-auto col-md-6 col-lg-3 my-3">
					<span class="service-icon">
						<i class="fas fa-exchange-alt fa-2x"></i>
					</span>
                    <h5 class="font-weight-bold text-uppercase">RETURN POLICY</h5>
                    <p class="text-capitalize">YOU CAN RETURN ANY PRODUCT WITHIN 3 DAYS OF PURCHASE</p>
                </div>
                <!--end of Service=-->
            </div>
        </div>
    </section>
    <!---End of Service Section=======-->




    <!-- new arrival start -->
<section class="collection">
        <div class="container py-5 wow fadeInUp" data-wow-duration="6s">
            <h4 class="section-header text-center">&#11088 NEW ARRIVALS &#11088</h4>
            <div class="row py-5 new-arrival-slick">

                {% for product in new_arrivals %}

                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="single-card">
                            <div class="card_img">
                                <img src="{{ product.pro_img.url }}" class="" alt="">
                            </div>
                            <div class="card_content">
                                <h4>{{ product.name }}</h4>

                                {% if product.updated_price %}
                                    <p><small>
                                        <del>৳ {{ product.price }}</del>
                                        <span>৳ {{ product.updated_price }}</span>
                                    </small></p>
                                {% else %}
                                    <p><small>
                                        <span>৳ {{ product.price }}</span>
                                    </small></p>
                                {% endif %}
                            </div>
                        </div>
                        <div class="single-card-hover">
                            <button class="btn btn-primary single-card-hover-btn-1">
                                <a style="text-decoration: none; color: #F8F9FA"
                                   href="{% url 'product' %}?category=NEW ARRIVALS">See More</a></button>

                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <!-- new arrival end -->



    <!-- organic food start -->

    <section class="collection">
        <div class="container py-5">
            <h4 class="section-header text-center">&#11088 ORGANIC FOOD &#11088</h4>
            <div class="row py-5">
                {% for product in organic_food_ins %}
                    {% if product.category == 'ORGANIC FOOD' %}

                        <div class="single-card col-lg-3 col-md-4 col-sm-6 col-12">
                            <div class="card">
                                <img src="{{ product.pro_img.url }}" class="img-fluid mb-3" alt="">
                                <a href="{% url 'product' %}?category=ORGANIC FOOD"><input type="button"
                                                                                           value="see more"></a>

                                <h5>{{ product.name }}</h5>
                                {% if product.updated_price %}
                                    <p><small>
                                        <del>৳ {{ product.price }}</del>
                                        <span>৳ {{ product.updated_price }}</span>
                                    </small></p>
                                {% else %}
                                    <p><small>
                                        <span>৳ {{ product.price }}</span>
                                    </small></p>
                                {% endif %}
                            </div>
                        </div>
                    {% endif %}

                {% endfor %}

            </div>
        </div>
    </section>


    <!--organic food end -->


    <!-- best selling products start -->




    <section class="collection">
        <div class="container py-5 wow fadeInUp" data-wow-duration="6s">
            <h4 class="section-header text-center">&#11088 BEST SELLING PRODUCTS &#11088</h4>
            <div class="row py-5 new-arrival-slick">

                {% for product in best_selling_product_ins %}

                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="single-card">
                            <div class="card_img">
                                <img src="{{ product.pro_img.url }}" class="" alt="">
                            </div>
                            <div class="card_content">
                                <h4>{{ product.name }}</h4>

                                {% if product.updated_price %}
                                    <p><small>
                                        <del>৳ {{ product.price }}</del>
                                        <span>৳ {{ product.updated_price }}</span>
                                    </small></p>
                                {% else %}
                                    <p><small>
                                        <span>৳ {{ product.price }}</span>
                                    </small></p>
                                {% endif %}
                            </div>
                        </div>
                        <div class="single-card-hover">
                            <button class="btn btn-primary single-card-hover-btn-1">
                                <a style="text-decoration: none; color: #F8F9FA"
                                   href="{% url 'product' %}?category=BEST SELLING PRODUCTS">See More</a></button>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <!--best selling products end -->


    <!-- top rated products start -->

    <section class="collection">
        <div class="container py-5">
            <h4 class="section-header text-center">&#11088 TOP RATED PRODUCTS &#11088</h4>
            <div class="row py-5">
                {% for product in top_rated_products_ins %}
                    {% if product.category == 'TOP RATED PRODUCTS' %}

                        <div class="single-card col-lg-3 col-md-4 col-sm-6 col-12">
                            <div class="card">
                                <img src="{{ product.pro_img.url }}" class="img-fluid mb-3" alt="">
                                <a href="{% url 'product' %}?category=TOP RATED PRODUCTS"><input type="button"
                                                                                                 value="see more"></a>


                                <h5>{{ product.name }}</h5>
                                {% if product.updated_price %}
                                    <p><small>
                                        <del>৳ {{ product.price }}</del>
                                        <span>৳ {{ product.updated_price }}</span>
                                    </small></p>
                                {% else %}
                                    <p><small>
                                        <span>৳ {{ product.price }}</span>
                                    </small></p>
                                {% endif %}
                            </div>
                        </div>
                    {% endif %}

                {% endfor %}

            </div>
        </div>
    </section>

    <!--top rated products end -->


    <!---About Section=====-->
    <section id="about-sec">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-5 text-center wow slideInLeft">
                    <img src="{% static 'images/slider/slider1.jpg' %}" width="450" height="150"
                         class="img-fluid about-img">
                </div>
                <div class="col-lg-7 text-lg-right  text-center text-color about-text wow slideInRight">
                    <h1>About Company</h1>
                    <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus aut cupiditate
                        libero eaque ipsum non quam, error repellendus tempora magnam iusto illum, id, saepe
                        voluptatibus reprehenderit et ipsam sequi similique. Fugiat est non ut quas odit, soluta,
                        temporibus beatae ad qui, dicta magnam totam velit earum. Incidunt aliquid, officia excepturi,
                        tenetur a saepe molestias atque at hic exercitationem laborum dignissimos ex!</p>
                </div>
            </div>
        </div>
    </section>
    <!---End of About Section---->




{% endblock %}