
{% extends 'main.html' %}

{% load static %}

{% block content %}


<div class="container">
        <div class="row my-5 pt-5">
            <div class="col-md-7 col-lg-8">
                <div class="p-t-7 p-r-85 p-r-15-lg p-r-0-md">
                    <h3 class="mtext-111 cl2 p-b-16">
                        Privacy Policy
                    </h3>

                    <p class="stext-113 cl6 p-b-26">
                        Muslims Apparel BD operates <a href=""><b>https://muslimsapparelbd.com</b></a> (the "Site"). This page informs you
                        of our policies regarding the collection, use and disclosure of Personal Information we receive
                        from users of the Site.

                        We use your Personal Information only for providing and improving the Site. By using the Site,
                        you agree to the collection and use of information in accordance with this policy.
                    </p><br><br>

                    <h3>Information Collection And Use</h3> <br>
                    <p>While using our Site, we may ask you to provide us with certain personally identifiable
                        information that can be used to contact or identify you. Personally identifiable information may
                        include, but is not limited to your email address and name ("Personal Information").
                    </p><br><br>
                    <h3>Log Data</h3><br>
                    <p>
                        Like many site operators, we collect information that your browser sends whenever you visit our Site ("Log Data").
                    </p> <br>
                    <p>
                        This Log Data may include information such as your computer's Internet Protocol ("IP") address,
                        browser type, browser version, the pages of our Site that you visit, the time and date of your
                        visit, the time spent on those pages and other statistics. <br>

                        In addition, we may use third party services such as Google Analytics and Facebook Pixel that
                        collect, monitor and analyze the user behaviour in the Site.
                    </p><br><br>
                    <h3>Communications</h3><br>
                    <p>We may use your Personal Information to contact you for delivered your product safely, giving you
                        some offer or discount and you also can contact with us.</p><br><br>
                    <h3>Cookies</h3><br><br>
                    <p>Cookies are files with small amount of data, which may include an anonymous unique identifier.
                        Cookies are sent to your browser from a web site and stored on your computer's hard drive. <br>

                        Like many sites, we use "cookies" to collect information. You can instruct your browser to
                        refuse all cookies or to indicate when a cookie is being sent. However, if you do not accept
                        cookies, you may not be able to use some portions of our Site.
                    </p><br><br>
                    <h3>Security</h3><br>
                    <p>The security of your Personal Information is important to us, but remember that no method of
                        transmission over the Internet, or method of electronic storage, is 100% secure. While we strive
                        to use commercially acceptable means to protect your Personal Information, we cannot guarantee
                        its absolute security.
                    </p><br><br>
                    <h3>Contact</h3><br>
                    <p>If you have any questions about this Privacy Policy, please send an email to <a href="">imran@gmail.com</a></p>
                </div>
            </div>


        </div>


    </div>


{% endblock %}