{% extends 'main.html' %}

{% load static %}

{% block content %}

    <div class="container">
        <div class="row my-5">
            <div class="col-12">
                <h3 class="text-center">Products Details</h3>
            </div>
            <div class="col-lg-6 my-4 d-flex justify-content-center">
                <img src="{{ product.pro_img.url }}" style="height: 350px; width: 70%;" class="img-fluid"alt="">
            </div>
            <div class="col-lg-6 my-4">
                <h4>Product Category:  {{ product.category }}</h4>
                <h5>{{ product.name }}</h5>
                <p>{{ product.description }}</p>
                <br><br>
                {% if product.updated_price %}
                    <p><small>
                        <span>Previous Price :৳
                        <del>{{ product.price }}</del></span>
                        <br>
                        <span>Updated Price:  ৳ {{ product.updated_price }}</span>
                    </small></p>
                {% else %}
                    <p><small>
                        <span>Price: ৳ {{ product.price }}</span>
                    </small></p>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}