{% extends 'main.html' %}

{% load static %}

{% block content %}

    <!-- product start -->

    <div class="container">
        <div class="row my-5">
            <div class="text-center">
                <span class="product-title">{{ category }}</span>
            </div>
        </div>

        <div class="custom-row mb-5">
            {% for product in products %}
                <div class="my-3 text-center">
                    <div class="product-div">
                        <div>
                            <img style="width: 600; height: 600" src="{{ product.pro_img.url }}" class="img-fluid"
                                 alt="">
                        </div>
                        <div class="my-3">
                            <h6 class="title2">{{ product.name }}</h6>
                            {% if product.updated_price %}
                                <p><small>
                                    <del>৳ {{ product.price }}</del>
                                    <span>৳ {{ product.updated_price }}</span>
                                </small></p>
                            {% else %}
                                <p><small>
                                    <span>৳ {{ product.price }}</span>
                                </small></p>
                            {% endif %}
                            <a href="{% url 'single_product' product.id %}"><input type="button"
                                                                                   value="product details"></a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}